/********************************************
* Custom CSS Styles for Basic Mockup Exercise
*
* Some CSS rules have been added for you below.
* Edit and add CSS rules as you see fit! :D
********************************************/

html,
body {
	margin: 0;
	font-family: Arial, monospace;
}

header {
	background-color: dodgerblue;
}

h1 {
	margin-left: 20%;
	font-size: 24px;
}

footer {
	background-color: #202020;
}

footer p {
	color:lightgray;
	font-style: italic;
	font-size: 10px;
}

.pull-left {
	float: left;
	border: 3px solid grey;
	margin: 15px;
}

.pull-right {
	float: right;
	border: 3px solid grey;
	margin: 15px;
}

.instructions {
	border: 3px solid grey;
	margin: 15px 15%;
	padding: 10px;
	font-size: 12px;
}

.bodyColumn {
	margin: 0 15%;
}

.container {
	margin: 0 auto;
	width: 1170px;
}

.clear {
	clear: both;
	background-color: aqua;
}

/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}